<head>
    {% capture page_title %}{% if title %}{{ title }} | {% endif %}Neill Robson's Website{% endcapture %}
    {% capture page_description %}{{ page.excerpt | default: 'The blog and portfolio of a software developer.' | renderContent: 'md' | strip_html | truncatewords: 30 | strip }}{% endcapture %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_title }}</title>

    <script>
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');

      function changeGiscusTheme (theme = 'preferred_color_scheme') {
        function sendMessage(message) {
          const iframe = document.querySelector('iframe.giscus-frame');
          if (!iframe) return;
          iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }

        sendMessage({
          setConfig: {
            theme: theme
          }
        });
      }

      function switchLight() {
        localStorage.setItem("mode", "light");
        document.getElementById("theme-light").checked = true;
        changeGiscusTheme('light');
      }

      function switchDark() {
        localStorage.setItem("mode", "dark");
        document.getElementById("theme-dark").checked = true;
        changeGiscusTheme('dark');
      }

      function switchAuto() {
        localStorage.removeItem("mode");
        document.getElementById("theme-system").checked = true;
        changeGiscusTheme('preferred_color_scheme');
      }

      document.addEventListener('DOMContentLoaded', function () {
        const mode = localStorage.getItem("mode");

        if (mode === "light") switchLight();
        if (mode === "dark") switchDark();

        const labels = [
          "theme-system",
          "theme-dark",
          "theme-light",
        ];

        labels.forEach(label => {
          const checkbox = document.getElementById(label);
          const icon = document.querySelector(`label[for="${label}"]`);

          icon.addEventListener('focus', event => {
            event.preventDefault();
          });

          icon.addEventListener('keyup', event => {
            if (event.keyCode == 32) {
              checkbox.click();
            }
          });
        });
      });
    </script>

    <meta name="description" content="{{ page_description }}">
    <meta name="author" content="Neill Robson">

    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://neillrobson.com{{ page.url | replace:'index.html','' }}">
    <link rel="canonical" href="https://neillrobson.com{{ page.url | replace:'index.html','' }}">

    {% comment %}
    <meta property="og:image" content="https://www.mywebsite.com/image.jpg">
    <meta property="og:image:alt" content="Image description">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{ page_title }}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="{{ page_description }}">
    {% endcomment %}

    <link rel="shortcut icon" href="/assets/icon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/style/main.css">
    <link rel="stylesheet" href="/assets/style/social.css">
    <link rel="stylesheet" href="/assets/style/code.css">
</head>
