<head>
    {% comment %}
    Prioritize page-level data. Provide a reasonable default if the current
    location is a page, but doesn't have the given data specified. Default to
    site-level data if necessary.
    {% endcomment %}

    {% capture title %}{% if page.title %}{{ page.title }} | {% endif %}Neill Robson's Website{% endcapture %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    <meta name="description" content="The blog and portfolio of a software developer." />
    <meta name="author" content="Neill Robson">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="The blog and portfolio of a software developer.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://neillrobson.com{{ page.url | replace:'index.html','' }}">
    <link rel="canonical" href="https://neillrobson.com{{ page.url | replace:'index.html','' }}">

    {% comment %}
    <meta property="og:image" content="https://www.mywebsite.com/image.jpg">
    <meta property="og:image:alt" content="Image description">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{ title }}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="The blog and portfolio of a software developer.">
    {% endcomment %}

    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/style/main.css">
    <link rel="stylesheet" href="/assets/style/social.css">
</head>
