---
layout: default
---
<header class="header">
	{% include top-bar.html %}
	<div class="header-intro theme-bg-primary text-white py-5">
		<div class="container position-relative">
			<div class="media flex-column flex-md-row">
				<img class="profile-medium d-inline-block rounded-circle mr-md-4 align-self-center mb-2 mb-lg-0"
					src="/assets/images/profile.jpg" alt="">
				<div class="media-body align-self-center">
					<h2 class="page-heading mb-2">{{ site.author }}'s Blog</h2>
					<div class="page-heading-tagline mb-3">I tend to write miscellaneous thoughts here. <br
							class="d-lg-block d-none">Looking for something specific? Try one of these channels:</div>
					<ul class="social-list-square list-inline mb-0">
						{% for item in site.data.people.neill.social %}
						{% assign key = item[0] %}
						{% assign value = item[1] %}
						<li class="list-inline-item mb-3 mb-lg-0">
							<a href="{{ value.url }}" target="_blank">
								<i class="{{ value.icon }} fa-fw text-white"></i>
							</a>
						</li>
						{% endfor %}
					</ul>
					<!--//social-list-->
				</div>
			</div>


		</div>
		<!--//container-->
	</div>
	<!--//header-intro-->

</header>
<!--//header-->

{% assign featured_post = site.posts | first %}
{% assign recent_posts = site.posts | slice: 1, 9 %}

<section class="section pt-5">
	<div class="container blog-cards">

		<div class="row">
			{% include featured-post-card.html post=featured_post %}

			{% for recent_post in recent_posts %}
				{% include regular-post-card.html post=recent_post %}
			{% endfor %}
			
			<div class="col-12 mb-5">
				<a href="/archive" class="btn-blog-more btn btn-primary btn-block text-white font-weight-bold">View all posts</a>
			</div>

		</div>
	</div>
	<!--//container-->
</section>
<!--//section-->

{% include hire-me.html %}

<!-- Custom JS -->
<script defer type="text/javascript" src="/assets/js/main.js"></script>