---
layout: listing
---
{% assign categories = site.categories | sort %}
{% for category in categories %}
{% comment %}
  Category is an array with two elements: the first is the name of the
  category, and the second is an array of posts.
{% endcomment %}
{% assign name = category | first %}
{% assign posts = category | last %}
<h3>On {{ name }}</h3>
<p>
  {% for post in posts %}
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>{% if forloop.last == false %},&nbsp;{% endif %}
  {% endfor %}
</p>
{% endfor %}
