---
layout: default
---
<header class="header">
	{% include top-bar.html %}
	<div class="header-intro theme-bg-primary text-white py-5">
		<div class="container">
			<div class="profile-teaser media flex-column flex-md-row">
				<img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="assets/images/profile.jpg" alt="">
				<div class="media-body text-center text-md-left">
					<div class="lead">Hello, my name is</div>
					<h2 class="mt-0 display-4 font-weight-bold">{{ site.author }}</h2>
					<div class="bio mb-3">{{ site.data.index.bio }}</div>
					<!--//bio-->
					<a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="/contact">Hire Me</a>

				</div>
				<!--//media-body-->
			</div>
			<!--//profile-teaser-->

		</div>
		<!--//container-->
	</div>
</header>
<section class="skills-section section py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-3">Skills Overview</h3>
        <div class="section-intro mx-auto text-center mb-5 text-secondary">{{ site.data.index.skills.overview }}</div>

        <div class="skills-blocks mx-auto pt-5">
            <div class="row">
                {% for block in site.data.index.skills.blocks %}
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">{{ block.title }}</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="{{ block.image }}">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            {% for item in block.items %}
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--//row-->
        </div>
    </div>
    <!--//container-->
</section>
<!--//skills-section-->

<section class="section-proof section bg-white py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Where I've Been</h3>
        <div class="logos d-flex flex-row justify-content-around align-items-center flex-wrap mb-5">
            {% for client in site.data.index.clients %}
            <div class="logo px-3 col-6 col-md-4 col-lg-3 mr-0 px-md-5 px-lg-4 text-center"><a class="logo-link"
                    href="{{ client.link }}"><img class="img-fluid svg-ie-fix" src="{{ client.image }}"></a>
            </div>
            {% endfor %}
        </div>


    </div>

    {% if site.data.index.testimonials.size > 0 %}
    <div class="container-fluid">

        <div class="testimonials">

            {% for testimonial in site.data.index.testimonials %}
            <div class="testimonial-item">
                <div class="position-relative p-5 shadow-lg">
                    <blockquote class="blockquote pl-4">
                        <p class="mb-4">{{ testimonial.text }}</p>
                        <i class="quote-icon fas fa-quote-left fa-lg position-absolute text-primary"></i>
                        <footer class="blockquote-footer presudo-hidden">
                            <div class="media client-profile flex-column flex-md-row">
                                <img class="mr-md-3" src="{{ testimonial.image }}" alt="">
                                <cite title="Source" class="quote-source d-inline-block font-style-normal pt-3">
                                    <span class="d-block">{{ testimonial.reference }}</span>
                                    <span class="d-block">{{ testimonial.position }}</span>
                                    <span class="d-block position-absolute source-link"><i
                                            class="fab fa-linkedin fa-2x mr-1" data-fa-transform="down-3"></i> <a
                                            class="text-secondary" href="{{ testimonial.link }}" target="_blank">View on
                                            Linkedin <i class="fas fa-external-link-alt ml-1"
                                                data-fa-transform="up-1"></i></a></span>
                                </cite>
                            </div>
                            <!--//media-->
                        </footer>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--//container-fluid-->
    </div>
    <!--//testimonials-->
    {% endif %}


</section>

<section class="section-featured-projects py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Featured Projects</h3>

        <div class="project-cards row mb-5">
            {% assign featured_projects = site.projects | slice: 0, 3 %}
            {% for project in featured_projects %}
                {% include project-card.html project=project %}
            {% endfor %}
        </div>
        <!--//row-->
        <div class="text-center">
            <a class="btn btn-primary" href="/projects">View all projects</a>
        </div>
    </div>
    <!--///container-->

</section>

<section class="section-latest-blog py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Latest Blog Posts</h3>

        
        <div class="blog-cards row">
            {% assign recent_posts = site.posts | slice: 0, 4 %}
            {% for post in recent_posts %}
            <div class="col-12 col-lg-6">
                <div class="card rounded-0 border-0 shadow-sm mb-5">
                    {% if post.banner %}
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="{{ post.banner }}" alt="">
                        <div class="card-img-overlay overlay-mask overlay-logo text-center p-0">
                            <div class="overlay-mask-content text-center w-100 position-absolute">
                                <a class="btn btn-primary" href="{{ post.url }}">Read more</a>
                            </div>
                            <a class="overlay-mask-link position-absolute w-100 h-100" href="{{ post.url }}"></a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-body pb-4">

                        <h4 class="card-title text-truncate mb-2"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        <div class="card-text">
                            <ul class="meta list-inline mb-1">
                                <li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ post.date | date: '%B %-d, %Y' }}</li>
                                {% if post.comments %}
                                <li class="list-inline-item">
                                    <i class="fas fa-comment mr-2"></i><a href="{{ post.url | prepend: site.url | append: '#disqus_thread' }}">Comments</a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="excerpt">{{ post.excerpt | strip_html }}</div>
                        </div>
                    </div>
                </div>
                <!--//card-->
            </div>
            {% endfor %}
        </div>
        <!--//blog-cards-->


    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="/blog">View all posts</a>
    </div>


</section>

<section class="section-press py-5 bg-white">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Featured in</h3>
        <div class="press-logos d-flex flex-row justify-content-around align-items-center flex-wrap">
            {% for feature in site.data.index.features %}
            <div class="align-self-center press-logo px-4 px-lg-3 col-6 col-lg-4 mr-0 px-md-5 px-lg-5 mb-3 mb-lg-0"><a
                    class="logo-link" href="{{ feature.link }}" target="_blank"><img class="img-fluid svg-ie-fix"
                        src="{{ feature.image }}"></a></div>
            {% endfor %}
        </div>
    </div>
    <!--//container-->
</section>

{% include hire-me.html %}