---
layout: home
---
<section class="splash">
  <div class="splash-content">
    <img src="https://s.gravatar.com/avatar/31273bfaab029e15418e4c63e2c50122?s=200">
    <p>Hey!</p>
    <p>Call me Neill.</p>
    <p>I'm a software engineer driven by storytelling.</p>
  </div>
  <a href="#main"><i class="fa fa-chevron-down"></i></a>
</section>
<div id="main">
  {% include about_section.html title="Who I Am" data=site.data.who %}
  {% include about_section.html title="What I Do" data=site.data.what %}
  {% include about_section.html title="Where I've Been" data=site.data.where %}
  <section class="section-container">
    <h2>Where I Am</h2>
    <div class="icon-container">
      {% if site.email %}
      <div class="item">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-2x fa-envelope"></i>
        </a>
      </div>
      {% endif %}
      {% if site.github_username %}
      <div class="item">
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-2x fa-github"></i>
        </a>
      </div>
      {% endif %}
      {% if site.twitter_username %}
      <div class="item">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-2x fa-twitter"></i>
        </a>
      </div>
      {% endif %}
      {% if site.linkedin_username %}
      <div class="item">
        <a href="https://id.linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-2x fa-linkedin"></i>
        </a>
      </div>
      {% endif %}
      {% if site.facebook_username %}
      <div class="item">
        <a href="https://www.facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-2x fa-facebook"></i>
        </a>
      </div>
      {% endif %}
    </div>
  </section>
</div>
