---
layout: default
---
<header class="header">
	{%- include top-bar.html -%}
	<div class="header-intro theme-bg-primary text-white py-5">
		<div class="container">
			<h2 class="page-heading mb-3">Projects</h2>
			<div class="page-heading-tagline">In-depth Case Studies to show you what I can offer and how I work</div>

		</div>
		<!--//container-->
	</div>
	<!--//header-intro-->
</header>
<!--//header-->

<section class="section pt-5">
	<div class="container">
		<div class="text-center">
			<ul id="filters" class="filters mb-5 mx-auto pl-0">
				<li class="type active" data-filter="*">All</li>
				{% assign all_tags = '' | split: '' %}
				{% for project in site.projects %}
					{% for tag in project.tags %}
						{% assign all_tags = all_tags | push: tag %}
					{% endfor %}
				{% endfor %}
				{% assign all_tags = all_tags | uniq %}
				{% for filter in all_tags %}
					<li class="type" data-filter=".{{ filter | slugify }}">{{ filter }}</li>
				{% endfor %}
			</ul>
			<!--//filters-->
		</div>

		<div class="project-cards row mb-5 isotope">
			{% for project in site.projects %}
				{% assign filter_slugs = '' %}
				{% assign tags_html = '' %}
				{% for filter in project.tags %}
					{% assign slug = filter | slugify | prepend: ' ' %}
					{% assign filter_slugs = filter_slugs | append: slug %}
					{% capture tag_html %}
					<li class="list-inline-item"><span class="badge badge-secondary badge-pill">{{ filter }}</span>
					</li>
					{% endcapture %}
					{% assign tags_html = tags_html | append: tag_html %}
				{% endfor %}
				<div class="isotope-item col-12 col-lg-4 {{ filter_slugs | join: ' ' }}">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="{{ project.cover-image }}" alt="">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo"><img class="img-fluid w-50"
										src="{{ project.logo-image }}"></div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="{{ project.url }}">
								<h5 class="card-title font-weight-bold">Client: {{ project.client }}</h5>
								<p class="card-text">Project summary goes here. Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Quisque vel sapien quis nulla dictum euismod...</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="{{ project.url }}">{{ project.title }}</a>
							</h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">{{ tags_html }}</ul>
						</div>
					</div>
					<!--//card-->
				</div>
				<!--//isotope-item-->
			{% endfor %}

		</div>
		<!--//row-->

	</div>
	<!--//container-->
</section>
<!--//section-->

{% include hire-me.html %}

<!--Page Specific JS -->
<script defer type="text/javascript" src="/assets/plugins/imagesloaded.pkgd.min.js"></script> 
<script defer type="text/javascript" src="/assets/plugins/isotope.pkgd.min.js"></script> 

<!-- Custom JS -->
<script defer type="text/javascript" src="/assets/js/main.js"></script>
<script defer type="text/javascript" src="/assets/js/isotope-custom.js"></script>
