---
layout: default
---
<header class="header">

	{% include top-bar.html %}

	<div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
		<div class="container position-relative">
			<h2 class="page-heading mb-3">Resume</h2>
			<a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto"
				href="https://themes.3rdwavemedia.com/resources/sketch-template/pillar-sketch-sketch-resume-template-for-developers/"
				target="_blank"><i class="fas fa-download mr-2"></i>TODO: Download PDF Version</a>
		</div>
		<!--//container-->
	</div>
	<!--//header-intro-->

</header>
<!--//header-->

<article class="resume-wrapper text-center position-relative">
	<div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		<header class="resume-header pt-4 pt-md-0">
			<div class="media flex-column flex-md-row">
				<img class="mr-3 img-fluid picture mx-auto" src="/assets/images/profile.jpg" alt="">
				<div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					<div class="primary-info">
						<h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{ site.author }}</h1>
						<div class="title mb-3">Hacker. Engineer. Storyteller.</div>
						<ul class="list-unstyled">
							<li class="mb-2">
								<a href="{{ site.data.people.neill.social.email.url }}">
									<i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{ site.data.people.neill.email }}
								</a>
							</li>
							<li>
								<a href="tel:{{ site.data.people.neill.phone }}">
									<i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>{{ site.data.people.neill.phone }}
								</a>
							</li>
						</ul>
					</div>
					<!--//primary-info-->
					<div class="secondary-info ml-md-auto mt-2">
						<ul class="resume-social list-unstyled">
							<li class="mb-3">
								<a href="{{ site.data.people.neill.social.linkedin.url }}">
									<span class="fa-container text-center mr-2">
										<i class="{{ site.data.people.neill.social.linkedin.icon }} fa-fw"></i>
									</span>{{ site.data.people.neill.social.linkedin.url }}
								</a>
							</li>
							<li class="mb-3">
								<a href="{{ site.data.people.neill.social.github.url }}">
									<span class="fa-container text-center mr-2">
										<i class="{{ site.data.people.neill.social.github.icon }} fa-fw"></i>
									</span>{{ site.data.people.neill.social.github.url }}
								</a>
							</li>
							<li class="mb-3">
								<a href="{{ site.data.people.neill.social.twitter.url }}">
									<span class="fa-container text-center mr-2">
										<i class="{{ site.data.people.neill.social.twitter.icon }} fa-fw"></i>
									</span>{{ site.data.people.neill.social.twitter.url }}
								</a>
							</li>
							<li>
								<a href="{{ site.url }}">
									<span class="fa-container text-center mr-2">
										<i class="fas fa-globe"></i>
									</span>{{ site.url }}
								</a>
							</li>
						</ul>
					</div>
					<!--//secondary-info-->

				</div>
				<!--//media-body-->
			</div>
			<!--//media-->
		</header>
		<div class="resume-body p-5">
			<section class="resume-section summary-section mb-5">
				<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
				<div class="resume-section-content">
					<p class="mb-0">{{ site.data.resume.career-summary }}</p>
				</div>
			</section>
			<!--//summary-section-->
			<div class="row">
				<div class="col-lg-9">
					<section class="resume-section experience-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
						<div class="resume-section-content">
							<div class="resume-timeline position-relative">
								{% for work-item in site.data.resume.work-experience %}
								<article class="resume-timeline-item position-relative pb-5">

									<div class="resume-timeline-item-header mb-2">
										<div class="d-flex flex-column flex-md-row">
											<h3 class="resume-position-title font-weight-bold mb-1">{{ work-item.title }}</h3>
											<div class="resume-company-name ml-auto">{{ work-item.company }}</div>
										</div>
										<!--//row-->
										<div class="resume-position-time">{{ work-item.time }}</div>
									</div>
									<!--//resume-timeline-item-header-->
									<div class="resume-timeline-item-desc">
										<p>{{ work-item.description }}</p>
										{% if work-item.achievements %}
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:
										</h4>
										<ul>
											{% for item in work-item.achievements %}
											<li>{{ item }}</li>
											{% endfor %}
										</ul>
										{% endif %}
										{% if work-item.technologies %}
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
											used:</h4>
										<ul class="list-inline">
											{% for tech in work-item.technologies %}
											<li class="list-inline-item"><span
													class="badge badge-secondary badge-pill">{{ tech }}</span></li>
											{% endfor %}
										</ul>
										{% endif %}
									</div>
									<!--//resume-timeline-item-desc-->

								</article>
								<!--//resume-timeline-item-->
								{% endfor %}

							</div>
							<!--//resume-timeline-->
						</div>
					</section>
					<!--//experience-section-->
				</div>
				<div class="col-lg-3">
					<section class="resume-section skills-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools
						</h2>
						<div class="resume-section-content">
							{% for category in site.data.resume.skills %}
							<div class="resume-skill-item">
								<h4 class="resume-skills-cat font-weight-bold">{{ category.name }}</h4>
								<ul class="list-unstyled mb-4">
									{% for item in category.values %}
									{% if item.percent %}
									<li class="mb-2">
										<div class="resume-skill-name">{{ item.name }}</div>
										<div class="progress resume-progress">
											<div class="progress-bar theme-progress-bar-dark" role="progressbar"
												style="width: {{ item.percent }}%" aria-valuenow="{{ item.percent }}" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</li>
									{% else %}
									<li class="list-inline-item"><span class="badge badge-light">{{ item.name }}</span></li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
							<!--//resume-skill-item-->
							{% endfor %}
						</div>
						<!--resume-section-content-->
					</section>
					<!--//skills-section-->
					<section class="resume-section education-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
						<div class="resume-section-content">
							<ul class="list-unstyled">
								{% for item in site.data.resume.education %}
								<li class="mb-2">
									<div class="resume-degree font-weight-bold">{{ item.degree }}</div>
									<div class="resume-degree-org">{{ item.institution }}</div>
									<div class="resume-degree-time">{{ item.time }}</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</section>
					<!--//education-section-->
					<section class="resume-section reference-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
						<div class="resume-section-content">
							<ul class="list-unstyled resume-awards-list">
								{% for item in site.data.resume.awards %}
								<li class="mb-2 pl-4 position-relative">
									<i class="resume-award-icon fas fa-trophy position-absolute"
										data-fa-transform="shrink-2"></i>
									<div class="resume-award-name">{{ item.name }}</div>
									<div class="resume-award-desc">{{ item.description }}</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</section>
					<!--//awards-section-->
					<!--
					<section class="resume-section language-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
						<div class="resume-section-content">
							<ul class="list-unstyled resume-lang-list">
								<li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small
										class="text-muted font-weight-normal">(Native)</small></li>
								<li class="mb-2 align-middle"><span
										class="resume-lang-name font-weight-bold">French</span> <small
										class="text-muted font-weight-normal">(Professional)</small></li>
								<li><span class="resume-lang-name font-weight-bold">Spanish</span> <small
										class="text-muted font-weight-normal">(Professional)</small></li>
							</ul>
						</div>
					</section>
					-->
					<!--//language-section-->
					<section class="resume-section interests-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
						<div class="resume-section-content">
							<ul class="list-unstyled">
								{% for item in site.data.resume.interests %}
								<li class="mb-1">{{ item }}</li>
								{% endfor %}
							</ul>
						</div>
					</section>
					<!--//interests-section-->

				</div>
			</div>
			<!--//row-->
		</div>
		<!--//resume-body-->


	</div>
</article>
