---
layout: default
---
<header class="header">
	{% include top-bar.html %}
	<div class="header-intro theme-bg-primary text-white py-5">
		<div class="container">
			<h2 class="page-heading mb-3">Talks</h2>
			<div class="page-heading-tagline">Want me to talk at your event? <br class="d-md-none"> <a
					class="link-on-bg" href="/contact">Get in touch</a></div>
		</div>
		<!--//container-->
	</div>
	<!--//header-intro-->

</header>
<!--//header-->

<section class="section pt-5">
	<div class="container">

		{% for media in site.data.talks %}
		<div class="media mb-5 flex-column flex-lg-row bg-white shadow-sm">
			<div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
				<iframe class="embed-responsive-item" width="560" height="315"
					src="{{ media.embed }}" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>

			<div class="media-body p-4">
				<h4>{{ media.title }}</h4>
				<ul class="talk-meta list-inline mb-2">
					<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ media.date | date: "%-d %B, %Y" }}</li>
					<li class="list-inline-item"><i class="{{ media.icon }} mr-2"></i>{{ media.type }}</li>
				</ul>
				<div class="talk-content">
					<p>{{ media.description }}</p>

				</div>
			</div>
		</div>
		{% endfor %}

	</div>
	<!--//container-->
</section>
<!--//section-->

{% include hire-me.html %}
