<section class="section-cta py-5 bg-primary text-white">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="/assets/images/profile.jpg"
                alt="">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Interested in hiring me for your project?</h3>
        <div class="section-intro mx-auto text-center mb-3">
            Looking for an experienced and passionate developer to join your team? To
            start an
            initial chat, just drop me an email at <a class="link-on-bg" href="{{ site.data.contact.social.email.url }}">{{ site.data.contact.email }}</a>
            or use any of the links on the
            <a class="link-on-bg" href="/contact">contact page</a>.
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="/contact">Let's Talk</a>
        </div>
    </div>
    <!--//container-->
</section>