.error-container {
  h1 {
    font-size: 150px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%)
  }

  p {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
}
