.splash {
  width: 100%;
  height: 100%;

  @include hover-anchor;

  i {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.25em auto;
    max-width: 48px;
    font-size: 48px;
  }
}

.splash-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    margin: 0.25em;
  }

  p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
  }

  img {
    border-radius: 0.25em;
  }
}

.section-container {
  h2, h3 {
    text-align: center;
  }

  .item-container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .item {
    position: relative;
    margin: 1em;
    max-width: 32em;
    flex: 1 1 20em;

    .item-link span {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .graphic {
      text-align: center;

      img {
        max-width: 80%;
        max-height: 10em;
      }
    }

    .item-description a {
      position: relative;
      z-index: 2;
    }
  }

  .icon-container {
    @extend .item-container;
    @include hover-anchor;

    justify-content: center;
    flex-wrap: nowrap;

    .item {
      max-width: 5em;
      text-align: center;
    }
  }
}
