<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include "head.html" %}

  <body>
    <input type="radio" name="color-theme" value="system" checked="" id="theme-system">
    <input type="radio" name="color-theme" value="dark" id="theme-dark">
    <input type="radio" name="color-theme" value="light" id="theme-light">
    <div class="container">
      {% include "top-bar.html" %}

      <div class="main">
        {{ content }}

        <div class="clear"></div>
      </div>

      {% include "footer.html" %}
    </div>
  </body>
</html>
