---
layout: default
permalink: "/blog/{{ page.date | dateToUrl }}/{{ page.fileSlug }}/index.html"
---

<div class="entry">
    <a class="small date left margin" href="{{page.url}}">{{page.date | date: '%B %-d, %Y'}}</a>
    <h1>{{ title }}</h1>

    {{ content }}
    {% if tags.size > 0 %}
        <br/>
        <p>
            {% for tag in tags %}
                {% if tag != 'posts' %}
                    <a class="small tag" href="/tag/{{ tag }}">{{tag}}</a>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    <div class="clear"></div>

    {% if comments %}
        {% include "disqus.html" %}
    {% endif %}

    {% assign previousPost = collections.posts | getPreviousCollectionItem %}
    {% assign nextPost = collections.posts | getNextCollectionItem %}

    {% if previousPost.url or nextPost.url %}
        <hr class="full"/>
    {% endif %}
    {% if previousPost.url %}
        <a class="halfWidth left previousEntry" href="{{previousPost.url}}">
            <h5>Previous post</h5>
            <span class="title">{{previousPost.data.title}}</span>
            <span class="summary">{{previousPost.data.page.excerpt | md | strip_html | truncatewords: 100 }}</span>
        </a>
    {% endif %}
    {% if nextPost.url %}
        <a class="left halfWidth nextEntry" href="{{nextPost.url}}">
            <h5>Next post</h5>
            <span class="title">{{nextPost.data.title}}</span>
            <span class="summary">{{nextPost.data.page.excerpt | md | strip_html | truncatewords: 100 }}</span>
        </a>
    {% endif %}
</div>
