---
layout: default
pagination:
    data: collections.posts
    size: 2
    reverse: true
    alias: posts
permalink: "/blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---

{% for post in posts %}
    <div class="entry">
        <a class="small date left margin" href="{{post.url}}">{{post.date | utcDate: '%B %-d, %Y'}}</a>
        <a href="{{ post.url }}"><h1>{{ post.data.title }}</h1></a>
        <p>
            {{ post.data.page.excerpt | md | strip_html | truncatewords: 100 }}
        </p>
        {% for tag in post.data.tags %}
            {% if tag != 'posts' %}
                <a class="small tag" href="/tag/{{ tag }}">{{tag}}</a>
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endfor %}
{% if pagination.hrefs.length > 1 %}
    <div class="pagination">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">&larr; Newer</a>
        {% endif %}
        Page
        {{ pagination.pageNumber | plus: 1 }}
        of
        {{ pagination.hrefs.length }}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Older &rarr;</a>
        {% endif %}
    </div>
{% endif %}
