---
layout: default
pagination:
    data: collections.post
    size: 2
    reverse: true
    alias: posts
---

{% for post in posts %}
    <div class="entry">
        <a class="small date left margin" href="{{post.url}}">{{post.date | date: '%B %-d, %Y'}}</a>
        <a href="{{ post.url }}"><h1>{{ post.data.title }}</h1></a>
        <p>
            {{ post.data.page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' |
    strip_html | strip | truncatewords: 100 }}
        </p>
        {% for tag in post.data.tags %}
            {% if tag != 'post' %}
                <a class="small tag" href="/tag/{{ tag }}">{{tag}}</a>
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endfor %}
{% if pagination.hrefs.length > 1 %}
    <div class="pagination">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">&larr; Newer</a>
        {% endif %}
        Page
        {{ pagination.pageNumber | plus: 1 }}
        of
        {{ pagination.hrefs.length }}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Older &rarr;</a>
        {% endif %}
    </div>
{% endif %}
