---
layout: default
---
{% assign projects = collections.project | sort: 'data.year' | reverse %}
{% for project in projects %}
<div class="entry">
	<h1><a href="{{project.url}}">{{ project.data.title }}</a></h1>
	{% if project.data.cover-image %}
	<figure class="four column force">
		<img width="100%" src="{{project.data.cover-image}}" />
	</figure>
	{% endif %}
	<section>
		<p>{{ project.data.page.excerpt | default: project.data.page.rawInput | renderContent: 'md' | strip_html | truncatewords: 30, '...' }}</p>
	</section>
	<div class="clear"></div>
</div>
{% endfor %}
