---
layout: default
---
{% assign projects = site.projects | sort: 'year' | reverse %}
{% for project in projects %}
<div class="entry">
	<a href="{{project.url}}">
	<h1>{{ project.title }}</h1>
	</a>
	{% if project.cover-image %}
	<div class="three column">
		<div class="blur-container">
			<img width="100%" src="{{project.cover-image}}" />
			<div class="blur"></div>
		</div>
	</div>
	{% endif %}
	<p>{{ project.excerpt | strip_html | truncatewords: 30, '...' }}</p>
	<div class="clear"></div>
</div>
{% endfor %}
